.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130px;
  min-height: 155px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid theme("colors.lightGray");

  &:hover {
    border: 1px solid theme("colors.purplishBlue");
  }
}

.active {
  border: 1px solid theme("colors.purplishBlue");
  background-color: theme("colors.magnolia");
  transition: all 0.2s ease;
}
