@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium";
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold";
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/Ubuntu-Bold.ttf");
}

.light {
  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);
  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

h1 {
  @apply font-ubuntuBold text-marineBlue text-3xl;
}

h2 {
  @apply font-ubuntuReg text-marineBlue;
}

label {
  @apply font-ubuntuMed text-marineBlue;
}

p {
  @apply font-ubuntuReg text-base;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
